@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@layer components {
    .section-heading-title {
        @apply font-bold text-5xl text-center w-[90%] md:text-6xl leading-13 md:leading-15 lg:text-7xl lg:w-[70%] lg:leading-20
    }

    .curved-button {
        @apply cursor-pointer rounded-full border border-white/80 px-6 py-3 text-white font-semibold tracking-wide bg-white/10 active:bg-white active:text-black hover:bg-white hover:text-black hover:shadow-xl hover:scale-105 transition-all duration-300
    }
}
